.doctorHeading {
  background: gray 40%;
  background-image: linear-gradient(to left, #b9baba 5%, #ffffffd5 33%),
    url(../../images/Mask\ Group\ 1.png);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.formwrap {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

@media only screen and (max-width: 1920px) {
}
@media only screen and (max-width: 1320px) {
  .formAppointment {
    width: 100%;
  }
}
.formAppointment input,
.formAppointment textarea,
.formAppointment select,
.formAppointment option {
  width: 600px;
}
@media only screen and (max-width: 1020px) {
  .wrap {
    width: 800px;
  }
  .formAppointment {
    width: 100%;
  }
}
.formAppointment input,
.formAppointment textarea,
.formAppointment select,
.formAppointment option {
  width: 500px;
}

@media only screen and (max-width: 851px) {
  .wrap {
    width: 700px;
  }
  .formAppointment {
    text-align: none;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 771px) {
  .wrap {
    width: 500px;
  }
  .formAppointment {
    text-align: center;
  }

  .formAppointment h1 {
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .formAppointment label {
    margin: 7px 0;
    font-size: 12px;
  }
  .formAppointment input,
  .formAppointment textarea,
  .formAppointment select,
  .formAppointment option {
    width: 400px;
  }
}
@media only screen and (max-width: 571px) {
  .wrap {
    width: 400px;
  }
  .formAppointment h1 {
    margin: 7px 0;
    font-size: 1.8rem;
  }

  .formAppointment input,
  .formAppointment textarea,
  .formAppointment select,
  .formAppointment option {
    width: 350px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 441px) {
  .formAppointment input,
  .formAppointment textarea,
  .formAppointment select,
  .formAppointment option {
    width: 300px;
  }
}
@media only screen and (max-width: 351px) {
  .wrap {
    width: 320px;
  }
  .formAppointment h1 {
    font-size: 1.5rem;
  }
  .formAppointment input,
  .formAppointment textarea,
  .formAppointment select,
  .formAppointment option {
    width: 250px;
  }
}

@media only screen and (max-width: 281px) {
  .doctorHeading {
    max-width: 281px;
    height: 700px;
  }
}
